node_modules

.digger
.idea
.vscode
.history
*.log
.DS_Store
*.vsix
index.draft.vue
*.draft.md
package-lock.json

packages/digger-cli/lib/node/commands
packages/digger-cli/lib/node/compiler
packages/digger-cli/lib/node/config
packages/digger-cli/lib/node/shared
packages/digger-cli/lib/node/index.d.ts
packages/digger-cli/lib/client
packages/digger-cli/site/mobile/*.routes.ts
packages/digger-cli/site/mobile/routes.ts
packages/digger-cli/site/pc/*.routes.ts
packages/digger-cli/site/pc/routes.ts
packages/digger-cli/site/site.config.json
packages/digger-cli/site/*.site.config.json
packages/digger-cli/lib/node/bin.d.ts

packages/digger-vite-plugins/lib

packages/digger-ui/site
packages/digger-ui/lib
packages/digger-ui/es
packages/digger-ui/umd
packages/digger-ui/coverage
packages/digger-ui/highlight
packages/digger-ui/public/icons

packages/digger-ui-playground/site
packages/digger-ui-playground/public/touch-emulator
packages/digger-ui-playground/public/digger.esm.js
packages/digger-ui-playground/public/digger-touch-emulator.js
packages/digger-ui-playground/public/digger.css
packages/digger-ui-playground/public/digger-area.js
packages/digger-ui-playground/auto-imports.d.ts
packages/digger-ui-playground/components.d.ts

packages/digger-icons/dist

packages/digger-vscode-extension/dist

packages/digger-cli/template/generators/**/es
packages/digger-cli/template/generators/**/umd
packages/digger-cli/template/generators/**/lib
packages/digger-cli/template/generators/**/highlight
packages/digger-cli/template/generators/**/coverage

packages/digger-shared/lib
packages/digger-use/lib

packages/digger-touch-emulator/iife.js

.eslintcache