packages/digger-cli/lib/**
packages/digger-cli/site/**
packages/digger-cli/template/**

packages/digger-vite-plugins/lib/**

packages/digger-icons/dist/**

packages/digger-ui/es/**
packages/digger-ui/lib/**
packages/digger-cli/client/**
packages/digger-ui/umd/**
packages/digger-ui/site/**
packages/digger-ui/public/**
packages/digger-ui/.digger/**
packages/digger-ui/coverage/**
packages/digger-ui/highlight/**
packages/digger-ui/types/index.d.ts

packages/digger-ui-playground/dist/**
packages/digger-ui-playground/public/**
packages/digger-ui-playground/*.d.ts
packages/digger-shared/lib/**
packages/digger-shared/es/**
packages/digger-use/lib/**
packages/digger-touch-emulator/iife.js

**/package.json
*.md
.github/**
.history/**

pnpm-lock.yaml
pnpm-workspace.yaml
